@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: Montserrat;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(/img/background1.jpg) center no-repeat;
}
.intro-inner {
  width: 100%;
  max-width: 802px;
  margin: 0 auto;
  text-align: center;
}
.intro-suptitle {
  font-family: Kaushan Script;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 42px;
}
.intro-title {
  font-family: Montserrat;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.intro-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 71px;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 30px 0 0 0;
}

.header-logo {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.nav {
  font-size: 14px;
  text-transform: uppercase;
}
.nav-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.1s linear;
  line-height: 1.2;
}
.nav-link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  z-index: 1;
  top: 100%;
  left: 0;
  background-color: #fce38a;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.nav-link:hover {
  color: #fce38a;
}
.nav-link:hover:after {
  opacity: 1;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  display: inline-block;
  vertical-align: top;
  border: 3px solid #ffffff;
  padding: 11px 33px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 50px 0 0 0;
  transition: background 0.1s linear, color 0.1s linear;
  &:hover {
    background-color: #ffffff;
    color: #333;
  }
}

.intro-slider {
  display: flex;
  justify-content: space-between;
}
.slider-item {
  text-align: center;
  padding: 185px 0 0 0;
  width: 24%;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  span {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.section {
  padding: 91px 0 0 0;
}
.container {
}
.section-header {
  margin-bottom: 40px;
}
.section-text {
}
